@charset "UTF-8";

body {
    text-align: center;
}

#container {
    max-width: 700px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(235, 227, 228);
    text-align: center;
    display: inline-block;
    justify-content: center;
    width: 100%;
}

#number {
    font-size: 5rem;
}

ul {
    display: flex;
    margin: 0 20%;
    padding-left: 0;
}

li {
    list-style: none;
    margin: auto;
}

button {
    padding: 10px;
}

.increase {
    background-color: rgba(51, 204, 51, 0.8);
}

.decrease {
    background-color: rgba(260, 51, 153, 0.7);
}

button {
    border-radius: 7px;
    border-color: lightgray;
    box-shadow: 0px 5px 5px grey;
}